* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  scroll-behavior: smooth;
}

main {
  background-color: rgb(241, 251, 255);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

a {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navbar {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  box-shadow: 2px 0 10px 1px silver;
  position: fixed;
  top: 0;
  padding: 0 2%;
}

.navlinks {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks a {
  height: 90%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinks a:hover {
  border-radius: 10px;
  background-color: rgb(0, 77, 77);
  color: rgb(241, 251, 255);
}

section {
  padding: 10vh 2% 0 2%;
  height: 100vh;
}

.container {
      margin: 100px auto;
      width: 50%;
      border: 1px solid rgb(0, 0, 0);
      padding: 30px;
      border-radius: 5px;
      box-shadow: 2px 0 10px 1px silver;
    }

    input[type=number] {
      display: block;
      margin-bottom: 10px;
      padding: 5px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid rgb(0, 0, 0);
      border-radius: 3px;
    }

    button {
      display: inline-block;
      padding: 10px 20px;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: rgb(0, 77, 77);
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    button:hover {
      background-color: aquamarine;
      color: rgb(0, 0, 0);
    }